@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    @apply bg-dark-bg text-white;
  }
}
